.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  width: 100%;
  height: 490px;
  margin: 20px auto;
}

@media screen and (max-width: 670px) {
  .swiper {
    height: 400px !important;
  }
}

.swiper-button-prev,
.swiper-button-next {
  color: #f1f2fa;
  background-color: #015220;
  padding: 2rem;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.mySwiper {
  margin-bottom: 40px;
}