.css-r6ewbb-MuiToolbar-root {
  justify-content: space-between;
}

.link-pages,
.link-settings {
  color: #049c3d;
  text-decoration: none;
  font-weight: 700;
}

.link-pages-large {
  color: #f5f1f1;
  text-decoration: none;
  font-weight: 700;
}

.btn-link-pages-large:hover {
  background-color: #646262 !important;
}

@media (min-width: 0px) {
  .css-1lvtzne {
    justify-content: flex-end;
  }
}

@media (min-width: 900px) {
  .css-1t6c9ts {
    justify-content: flex-end;
  }
}
