/* Google Fonts Roboto */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

/* Reset */
:root {
  --primary: #049c3d;
  --secondary: #df3045;
  --error: #cd1812;
  --error-border-color: #cd1812;
  --warning: #ffba33;
  --success: #1c8747;
  --primary-blackish: #015220;
  --primary-background: #e7e9f7;
  --primary-background2: #f1f2fa;
  --primary-background3: #fff;
  --btn-primary: #049c3d;
  --btn-primary-focus-visible: #095c3c;
  --btn-primary-hover: #095c3c;
  --btn-primary-outline-hover: #015220;
  --btn-primary-focus: #095c3c;
  --btn-primary-disabled: #8f9193;
  --btn-contained-primary: #049c3d;
  --btn-contained-primary-focus: #014f1e;
  --btn-contained-primary-disabled-background: #8f9193;
  --dark-gray: #2f3954;
  --box-shadow-border: rgba(51, 51, 51, 0.2);
  --border-gray: #d0d1d1;
  --border-focus: #009a3d;
  --border-hover-outlined: #087034;
  --txt-color-gray: #333;
  --txt-color-black: #191919;
  --txt-color-disabled: #416355;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
