/* Reset */
:root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  --primary: #049c3d;
  --secondary: #df3045;
  --error: #cd1812;
  --error-border-color: #cd1812;
  --warning: #ffba33;
  --success: #1c8747;
  --primary-blackish: #015220;
  --primary-background: #e7e9f7;
  --primary-background2: #f1f2fa;
  --btn-primary: #049c3d;
  --btn-primary-focus-visible: #095c3c;
  --btn-primary-hover: #095c3c;
  --btn-primary-outline-hover: #015220;
  --btn-primary-focus: #095c3c;
  --btn-primary-disabled: #8f9193;
  --btn-contained-primary: #049c3d;
  --btn-contained-primary-focus: #014f1e;
  --btn-contained-primary-disabled-background: #8f9193;
}
