.root {
  max-width: 450px;
  display: block;
  margin: 0 auto;
}

.container-content {
  padding-top: 5rem;
}

.submitButton {
  margin-left: 24px;
}

.title {
  text-align: center;
}

.successMessage {
  color: 'green';
}

.errorMessage {
  color: 'red';
}
